body {
    background:url("../images/credits.jpg") ;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#back {
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    font-size:30px;
    height:1em;
    position: absolute;
    Top: 93%;
    right:3%;
    transform: (-50%,-50%) 
  }
